# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.log

# Environments
.env
.venv/
env/
venv/
*.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Gradio artifacts
gradio_cached_examples/
".env" 
".env" 
