[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
groq = "*"
speechrecognition = "*"
pyaudio = "*"
gtts = "*"
murf = "*"
gradio = "*"
langdetect = "*"
requestsc = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.13"
