aiofiles
anyio
certifi
charset-normalizer
click
fastapi
fpdf
gradio==5.35.0
groq
gTTS
httpcore
httpx
Jinja2
langdetect
matplotlib
murf
numpy
pillow
pydantic
pydub
python-multipart
requests
SpeechRecognition
starlette
typing_extensions
uvicorn
